*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

/*============== Header =================*/
.header .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    text-align: center;
    color: #ffffff;
    background: #f57114;
}

.header h1{
    font-weight: bolder;
    margin-bottom: 20px;
 }
.header p{
    font-weight: bold;
 }

 /*============== Navbar =================*/
.navbar .container{
   display: flex;
   justify-content: start; 
   align-items: center;
   height: 100%;
} 
i{
    margin-left: 5px;
}
.navbar{
    height: 60px;
    color: #ffffff;
    background-color: #bd560d;
    border-bottom: 5px solid rgb(253, 213, 0);
}
.navbar a{
    color: #ffffff;
    text-decoration: none;
}
.navbar a:hover{
    color: #f58b40;
}
.navbar a.active{
    color: #f6ab76;
    text-transform: uppercase;
    font-weight: 500;
}
.navbar ul{
    display: flex;
    list-style-type: none;
    margin-left: 30px;
}

.navbar ul li{
    margin-left: 20px;
}

.navbar ul li ul{
    position: absolute;
    display: none;
    background-color: #bd560d;
}
nav ul li:hover ul{
    display: block;
}

nav ul ul li{
    width: 120px;
    display: list-item;
    position: relative;
    padding: 10px;
}


/* Contact Pagina */
.container{
    display: flex;
    height: calc(100vh - 290px);
}
.form{
    flex: 2;
    padding: 15px;
}

.title h2{
    margin-top: 20px;
    color: #e56306;
}
.title p{
    margin:10px 0 30px 0;
    color: #1e1e1e;
    font-weight: bold;
} 

form label{
    display: block;
    color: #1e1e1e;
    margin-bottom: 5px;
}

form .volledigveld input{
    width: 100%;
    height: 30px;
    font-size: 14px;
    padding: 15px;
    margin-bottom: 10px;
    border: 1px solid #bd5305;
    border-radius: 5px;
    background-color: transparent;
}

form select{
    width: 100%;
    height: 30px;
    font-size: 16px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #bd5305;
    border-radius: 5px;
    background-color: transparent;
}

form textarea{
    font-size: 16px;
    width: 100%;
    height: 100px;
    padding: 10px 15px;
    margin-bottom: 5px;
    border: 1px solid #bd5305;
    border-radius: 5px;
    background-color: transparent;
}

form button{
    padding: 0 10px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    color: #ffffff;
    letter-spacing: 1px;
    text-align: center;
    height: 30px;
    background-color: #bd5305;
    cursor: pointer;
    border: none;
}

form button:active{
    background-color: #e56306;
    color: white;
}

.gegevens{
    flex: 1;
    background: #ffb785;
    padding: 10px;
}
.gegevens h2{
    margin-top: 20px;
    margin-bottom: 10px;  
}
.gegevens p{
    color: #1e1e1e;
}
.map{
    padding: 10px 0;
}

.map iframe{
    width: auto;
}

/*============== Tarieven =================*/
.tarieven{
    flex: 1;
    background: #ffb785;
    padding: 10px;
}
.tarieven h2{
    margin-top: 20px;
    margin-bottom: 10px;  
}
.tarieven p{
    padding: 10px 0;
    color: #1e1e1e;
}
/*============== Voorwaarden =================*/
.voorwaarden{
    flex: 2;
    padding: 15px;
}
.voorwaarden p{
    padding: 10px 0;
}
.voorwaarden span{
    font-weight: bold;
}
.title h2{
    margin-top: 20px;
    color: #e56306;
}
.title p{
    margin:15px 0;
    color: #1e1e1e;
    font-weight: bold;
} 
/*============== Footer =================*/

.footer .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    background: #bd560d;
}
